* {
  color: black;
  font-family: sans-serif;
}

.vote_container {
    padding-left: 2%;
}

.card {
    background: #D9D9D9;
    border-radius: 20px;
    width: 144px;
    text-align: center;
    height: 200px;
    margin-right: 2%;
}

.card:hover {
    cursor: pointer;
    background:  #a6a6a6;
}

.card h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1.7em;
  margin-top: 0;
}

.title {
  color: black !important;
}

.cards_row {
    display: flex;
    margin-bottom: 2%;
}

.rightBar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 17%;
    background: #D9D9D9;
}

.rightBar h3 {
    text-align: center;
}

.timer {
    position: absolute;;
    bottom: 0;
    width: 100%;
    text-align: center;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}
