* {
  color: black;
  font-family: sans-serif;
}

.card {
    background: #D9D9D9;
    border-radius: 20px;
    width: 158px;
    text-align: center;
    height: 220px;
}

.card:hover {
    cursor: pointer;
    background:  #a6a6a6;
}

.card h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 2em;
}

.title {
  color: black !important;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}
